<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ name }} </td>
        <td> uppercase </td>
        <td> {{ name | uppercase }}</td>
      </tr>
      <tr>
        <td> {{ name }} </td>
        <td> lowercase </td>
        <td> {{ name | lowercase }}</td>
      </tr>
      <tr>
        <td> {{ name }} </td>
        <td> slice:3 </td>
        <td> {{ name | slice:3 }}</td>
      </tr>
      <tr>
        <td> {{ name }} </td>
        <td> slice:0:3 </td>
        <td> {{ name | slice: 0 :3 }}</td>
      </tr>
      <tr>
        <td> {{ array }} </td>
        <td> slice:1:5 </td>
        <td> {{ name | slice: 1 :5 }}</td>
      </tr>
      <tr>
        <td> {{ pi }} </td>
        <td> number:'3.0-0' </td>
        <td> {{ pi | number: '3.0-0' }}</td>
      </tr>
      <tr>
        <td> {{ pi }} </td>
        <td> number:'1.0-2' </td>
        <td> {{ pi | number: '1.0-2' }}</td>
      </tr>
      <tr>
        <td> {{ a }} </td>
        <td> percent </td>
        <td> {{ a | percent }}</td>
      </tr>
      <tr>
        <td> {{ a }} </td>
        <td> percent:'2.2-4' </td>
        <td> {{ a | percent :'2.2-4' }}</td>
      </tr>
      <tr>
        <td> {{ salary }} </td>
        <td> currency </td>
        <td> {{ salary | currency  }}</td>
      </tr>
      <tr>
        <td> {{ salary }} </td>
        <td> currency: 'EUR' </td>
        <td> {{ salary | currency : 'EUR'  }}</td>
      </tr>
      <tr>
        <td> {{ salary }} </td>
        <td> currency: 'EUR':true </td>
        <td> {{ salary | currency : 'EUR' : true }}</td>
      </tr>
      <tr>
        <td> {{ salary }} </td>
        <td> currency: 'EUR':true:'4.0-0' </td>
        <td> {{ salary | currency : 'EUR' : true :'4.0-0' }}</td>
      </tr>
      <tr>
        <td> {{ valorDePromesa }} </td>
        <td> async </td>
        <td> {{ valorDePromesa | async }}</td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> date </td>
        <td> {{ fecha | date }}</td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> date:'medium' </td>
        <td> {{ fecha | date:'medium' }}</td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> date:'MMMM - dd' </td>
        <td> {{ fecha | date:'MMMM - dd' }}</td>
      </tr>
      <tr>
        <td> {{ name2 }} </td>
        <td> capitalizado </td>
        <td> {{ name2 | capitalizado }}</td>
      </tr>
      <tr>
        <td> {{ name2 }} </td>
        <td> capitalizado </td>
        <td> {{ name2 | capitalizado:false }}</td>
      </tr>
      <tr>
        <td> {{ name }} </td>
        <td> contrasena </td>
        <td> {{ name | contrasena }}</td>
      </tr>
      <tr>
        <td> {{ name }} </td>
        <td>
          contrasena
          <button class="btn-block btn-outline-primary" (click)="active = !active">
            Activar / Desactivar
          </button>
        </td>
        <td> {{ name | contrasena: active }}</td>
      </tr>
    </tbody>
  </table>
  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of array | slice: 5:20"> {{ item }}</li>
  </ul>

  <h4>JSON</h4>
  <pre>
    {{ heroe  | json }}
  </pre>

  <br><br><br><br><br><br><br>
</div>
